<h1 class="display-4">Welcome to the Page</h1>
<p class="mb-4">This is Sails JS Demo APP</p>
<a href="/articles/list" class="btn btn-light">View Articles</a>
<a href="/articles/add" class="btn btn-light">Add Articles</a>