<h1 class="display-4">Articles</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th># ID</th>
            <th>Title</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% articles.forEach(function(article) { %>
        <tr>
            <td><%= article.id %></td>
            <td><%= article.title %></td>
            <td>
                <a href="/articles/edit/<%= article.id %>" class="btn btn-primary">Edit</a>
                <form class="d-inline" action="/articles/delete/<%= article.id %>" method="POST">
                    <input type="submit" value="Delete" class="btn btn-danger">
                </form>
            </td>

        </tr>
        <% }) %>
    </tbody>
</table>